version: "3.8"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - MONGODB_URI=mongodb://host.docker.internal:27017/zygotrix
    extra_hosts:
      - "host.docker.internal:host-gateway"
